@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{padding:0;margin:0;}
body{
    /* background-image: url(bg.jpg); */
    /* background-color: yellowgreen; */
    overflow-x: hidden; 
    
    
    /* Hide horizontal scrollbar */

}

 /* .active {
  background-color: rgb(211, 25, 25);
  color: rgb(255, 255, 255) !important
  
}
.navbar-nav {
  width: 100%
}

.nav-link fas fa-home{
  color: inherit !important
} */


.nav-item {
  padding: 0px 10px 0px 0px;
  /* height: 100%; */
  
 
}

/* .nav-item:hover {
  background-color: rgb(219, 29, 29);
  color: #000 !important
}

.right {
  margin-left: auto
}

.navbar-collapse.collapse.in {
  display: block !important
}

@media (max-width: 992px) {
  .right {
      margin-left: 0
  }

  .nav-item {
      width: 100%
  }
}  */
:root{
  --header-height:50px;
  scroll-padding-top: calc(var(--header-height) + 40px);
  scroll-behavior: smooth;

}
#landing{
  color: white;
  margin-top: 150px;
  margin-bottom: 200px;
  height: var(--header-height);
  width: 700px;
  display: flex;
  margin-left: 110px;
  font-size: 75px;  
  
}
.card-body{
  position: relative;
}

/* .tool{
  color: white;
  background-color: #ccc;
  height: 200px;
  width: 200px;
  position: absolute; */
  /* visibility: hidden; */
  /* margin-left: 600px; */
  
  /* bottom: 20px;
} */
.card-body:hover .tool{
  visibility: visible;

}
h3{
  color: white;
  margin-left: 96px;
  font-size: 75px;
  font-family:monospace;
}
#logo{
  height: 400px;
  width: 500px;
  margin-top: 150px;
  border-radius: 60px;
}
#items{
  display: flex;
  justify-content: initial;
}
#bd{
  background-color:#293355;
}
#bdc{
  background-color:#293355;

}
#hed{
        font-size: 1.4em;
        margin-top: 3em;
        justify-items: center;
        color: #11dfa1;
        
    } 


#link{
  color: black;
  text-decoration: none;
}

#top1{
  font-size: medium;
  font-family: sans-serif; 
}

#se{
 margin: 6vw 30vw;
 height: 100px;
 padding-top: 20px;
 font-size: 40px;
 border-radius: 20px;
}
.conte{
  display: flex;
  flex-wrap:wrap;
  margin-left: 20%;
  margin-top: 10%;
  background-color: #212529;
  border: 1px;
  border-radius: 10px;
  margin-right: 600px;
  font-size: 30px;
}
#he{
  margin-left: 5%;
  font-family: sans-serif;
  border: solid;
  border-color: #EA2655;
  border-radius: 10px;
  margin-right: 70%;
  margin-top: 5%;
  padding-left: 1%;
  color: #212529;
  border-width: 1px;
}
#first{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}
#second{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}
#third{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}
#four{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}

#five{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}
#six{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}
#seven{
  border-radius: 400px;
  margin-left: 20%;
  border-top-left-radius: 0%;
  width: 900px;
  height: 600px;

}
#frm{
    background-color: #212529;
    border-radius: 20px;
}
#btn{
  margin-bottom: 5px;
  background-color: #EA2655;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #212529;
  padding: 20px;
  margin-left: 115px;
  margin-right: 300px;
}
.container3 {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  border-radius: 10px;
  background-color: #212529;
  padding: 20px;
  /* margin-left: 115px;
  margin-right: 400px; */
  color: #ffffff;

}
.conte:hover{
  background-color: #212529;
}
#para{
  
  margin-top: 100px;
  margin-bottom: 100px;
}
#para2{
  background-color:red;
  margin-right: 800px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  opacity: 80%; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bubble{
  height: 400px;
  width: 400px;
  background-color: #506ca0;
  opacity: 50%;
  border-radius: 50%;
  border-top-left-radius: 0px;
  position: relative;
  display: flex;
  justify-content: center;

}
.seconddiv{
  
    position:relative;
    bottom:400px;
    left:0px;
 
}
#sec{
  top: -150px;
  position: relative;
  left: 20px;
}
